/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 *= require fullcalendar
 *= require font-awesome
 */


/* 共通 */
body {
  font-size: 90%;
  background-color: #efefef;
  color: #333;
  padding-top: 100px; /* ナビゲーションバー表示のため */
}
h1, h2 { margin: 0; } /* マージンのリセット */
h1 { font-size: 2.4em; }
h2 { font-size: 1.6em; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

.content_block {
  margin: 0 auto; /* ブロックを中央寄せ */
  width: 90%; /* ウィンドウ幅の90% */
}


/* ナビゲーションバー */
.navbar-text a:hover { background-color: transparent !important; }


/* 警告 */
.alert { margin-bottom: 50px; }


/* カレンダー */
.fc-day-header { background-color: #edffbe/*#ffe4e1*/; }
/*.fc-past, .fc-today { cursor: pointer; }
.fc-past:hover, .fc-today:hover { background-color: #f0f8ff !important; }
.fc-other-month { cursor: default; }
.fc-other-month:hover { background-color: transparent !important; }*/


/* 本体 */
#body {
  padding: 25px;
  background-color: #fff;
}
#body h2 { margin-bottom: 15px; }

#footer { padding: 25px 0 50px 0; }
#footer p {
  padding-right: 15px;
  font-size: 0.8em;
  color: #666;
  text-align: right;
}
