// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_disp{
  padding-top: 20px;
}

.comment_list{
  padding-bottom: 20px;
  font-size: 12px;
}

.comment_name{
  color: #FF8C00;
  padding-right: 10px;
}